@media (max-width:1400px) {
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .w-xxl-1 {
        width: 8.33%;
    }

    .w-xxl-2 {
        width: 16.66%;
    }

    .w-xxl-3 {
        width: 25%;
    }

    .w-xxl-4 {
        width: 33.33%;
    }

    .w-xxl-5 {
        width: 41.66%;
    }

    .w-xxl-6 {
        width: 50%;
    }

    .w-xxl-7 {
        width: 58.33%;
    }

    .w-xxl-8 {
        width: 66.66%;
    }

    .w-xxl-9 {
        width: 75%;
    }

    .w-xxl-10 {
        width: 81.33%;
    }

    .w-xxl-11 {
        width: 91.66%;
    }

    .w-xxl-12 {
        width: 100%;
    }

    .btn {
        display: inline-block;
    }

    .home {
        padding-top: 100px;
        text-align: center;
    }

    .home-image {
        padding-top: 80px;
    }

    .home-image img {
        height: 250px;
        margin: auto;
    }

    .image img {
        height: 400px;
    }

    .image-slider img {
        height: 100px;
        margin-top: 50px;
    }

}

@media (max-width:1200px) {
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .w-xl-1 {
        width: 8.33%;
    }

    .w-xl-2 {
        width: 16.66%;
    }

    .w-xl-3 {
        width: 25%;
    }

    .w-xl-4 {
        width: 33.33%;
    }

    .w-xl-5 {
        width: 41.66%;
    }

    .w-xl-6 {
        width: 50%;
    }

    .w-xl-7 {
        width: 58.33%;
    }

    .w-xl-8 {
        width: 66.66%;
    }

    .w-xl-9 {
        width: 75%;
    }

    .w-xl-10 {
        width: 81.33%;
    }

    .w-xl-11 {
        width: 91.66%;
    }

    .w-xl-12 {
        width: 100%;
    }

    .btn {
        display: inline-block;
    }

    .home {
        padding-top: 100px;
        text-align: center;
    }

    .home-image {
        padding-top: 80px;
    }

    .home-image img {
        height: 110px;
        margin: auto;
    }

    .home-content h3{
        font-size: 80px;
    }

    .image img {
        height: 400px;
    }

    .image-slider img {
        height: 90px;
        margin-top: -200px;  
    }

}

@media (max-width:992px) {
    header .fa-bars {
        display: block;
    }

    nav {
        display: none;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .w-lg-1 {
        width: 8.33%;
    }

    .w-lg-2 {
        width: 16.66%;
    }

    .w-lg-3 {
        width: 25%;
    }

    .w-lg-4 {
        width: 33.33%;
    }

    .w-lg-5 {
        width: 41.66%;
    }

    .w-lg-6 {
        width: 50%;
    }

    .w-lg-7 {
        width: 58.33%;
    }

    .w-lg-8 {
        width: 66.66%;
    }

    .w-lg-9 {
        width: 75%;
    }

    .w-lg-10 {
        width: 81.33%;
    }

    .w-lg-11 {
        width: 91.66%;
    }

    .w-md-12 {
        width: 100%;
    }

    .btn {
        display: inline-block;
    }

    .home {
        padding-top: 100px;
        text-align: center;
    }

    .home-image {
        padding-top: 80px;
    }

    .home-image img {
        height: 110px;
        margin: auto;
    }

    .home-content h3 {
        font-size: 65px;
    }

    .image img {
        height: 500px;
    }

    .image{
        text-align: center;
    }

    .image-slider img{
        height: 90px;
        margin-top: -270px;
    }

    .about-content{
        text-align: center;
    }

    .icon-container{
        justify-content: center;
    }

    .heading {
        font-size: 80px;
        position: relative;
        color: transparent;
        text-align: center;
        -webkit-text-stroke: 0.5px var(--main-color);
    }

    .heading span {
        font-size: 35px;
        position: absolute;
        left: 0;
        right: 0;
        top: 30%;
        color: var(--main-color);
    }

    .about-content h3 {
        font-size: 40px;
    }

    .about-content p {
        font-size: 20px;
    }

    .footer .box a {
        font-size: 20px;
    }

    .footer .box h1 {
        font-size: 30px;
    }
}

@media (max-width:768px) {
    header .fa-bars {
        display: block;
    }

    nav {
        display: none;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .w-md-1 {
        width: 8.33%;
    }

    .w-md-2 {
        width: 16.66%;
    }

    .w-md-3 {
        width: 25%;
    }

    .w-md-4 {
        width: 33.33%;
    }

    .w-md-5 {
        width: 41.66%;
    }

    .w-md-6 {
        width: 50%;
    }

    .w-md-7 {
        width: 58.33%;
    }

    .w-md-8 {
        width: 66.66%;
    }

    .w-md-9 {
        width: 75%;
    }

    .w-md-10 {
        width: 81.33%;
    }

    .w-md-11 {
        width: 91.66%;
    }

    .w-md-12 {
        width: 100%;
    }

    .btn {
        display: inline-block;
    }

    .home {
        padding-top: 100px;
        text-align: center;
    }

    .home-image {
        padding-top: 80px;
    }

    .home-image img {
        height: 175px;
        margin: auto;
    }

    .home-content h3 {
        font-size: 50px;
    }

    .heading {
        font-size: 55px;
        position: relative;
        color: transparent;
        text-align: center;
        -webkit-text-stroke: 0.5px var(--main-color);
    }

    .image-slider img{
        height: 100px;
        margin-top: -270px;
    }

    .heading span {
        font-size: 27.5px;
        position: absolute;
        left: 0;
        right: 0;
        top: 25%;
        color: var(--main-color);
    }

    .image img {
        height: 300px;
    }

    .image{
        text-align: center;
    }

    .icon-container .icons {
        padding: 5px;
    }

}